@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
    margin: 0;
    padding: 0
}

:root {
    --tan: #ededed;
    --gray: #77777a;
    --accent: #4285f4;
    --jetblack: #0e0e10;
    --cloudwhite: #f4fafc;
    --online: #99d590;
    --endchat: #ea4335
}

body {
    margin: 0
}

header,
#settings-tab-group,
main,
#logout-wrapper {
    border-radius: 20px;
    margin: 1%;
    width: 98%;
    display: flex;
    gap: 10px;
    align-items: center;
    background: var(--tan)
}

header {
    height: 100px;
    flex-direction: row;
    padding: 20px
}

header img {
    width: 50px;
    height: 50px;
    transform: rotate(-30deg)
}

header h2 {
    font-size: 30px
}

#settings-tab-group {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 20px
}

.settings-tab {
    background: var(--gray);
    border-radius: 10px;
    width: 30%;
    height: 40px;
    color: var(--cloudwhite);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .2s;
    font-weight: bold
}

.settings-tab:hover {
    cursor: pointer;
    background: var(--accent);
    transform: scale(1.03)
}

main {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 400px;
    margin-top: 0;
    gap: 20px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0
}

#profile-pic-wrapper {
    width: 150px;
    height: 150px;
    border-radius: 75px;
    overflow: hidden;
    border: 4px solid var(--gray);
    display: flex;
    align-items: center;
    justify-content: center
}

#profile-pic {
    width: 145px;
    height: 145px;
    object-fit: cover
}

#personal-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%
}

#display-name p,
#bio p {
    font-size: 18px;
    margin-bottom: 5px
}

#display-name-input,
#bio-input {
    width: 100%;
    padding: 10px;
    border: 2px solid var(--gray);
    border-radius: 10px;
    font-size: 16px;
    resize: none
}

#display-name-input {
    width: 600px
}

#edit-save-btns {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 30px;
    align-items: flex-start;
    height: 245px
}

#edit-profile-btn,
#save-changes-btn {
    background: var(--accent);
    color: var(--cloudwhite);
    padding: 10px 20px;
    border-radius: 10px;
    transition: all .2s
}

#edit-profile-btn:hover,
#save-changes-btn:hover {
    background: var(--gray);
    cursor: pointer;
    transform: scale(1.05)
}

#logout-wrapper {
    display: flex;
    justify-content: center;
    margin: 0 1% 50px;
    width: 98%;
    height: 50px;
    background: var(--endchat);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    color: var(--cloudwhite)
}

#logout-wrapper:hover {
    height: 60px;
    cursor: pointer;
    transition: all .2s ease-out
}

#logout-button {
    width: 100%;
    height: 50px;
    background: var(--endchat);
    color: var(--cloudwhite);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all .2s
}

#logout-button h4 {
    margin: 0
}